<div class="nav">
  <div class="container">
    <div class="nav__links">
      <div class="nav__links-left">
        <a href="" class="nav__links--link home">Home</a>
      </div>
      <div class="nav__links-right">
        <a href="" class="nav__links--link login">Login</a>
        {{!-- <a href="" class="nav__links--link"></a>
        <a href="" class="nav__links--link"></a> --}}
      </div>
    </div>
  </div>
</div>
{{outlet}}
